<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenUAV Web</title>
    <!--<link rel="stylesheet" href="/static/scripts/paperjs/examples/css/style.css"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
            function land() {
                $.get('land', function (data) {
                });
            }
            function takeoff() {
                $.get('takeoff', function (data) {
                });
            }
            function offboard() {
                $.get('offboard', function (data) {
                });
            }
            function arm() {
                $.get('arm', function (data) {
                });
            }
        </script>




</head>
<body onload="$('html, body').animate({scrollTop: 0},'fast')">
<div id="main>">
<button onclick="land();" style="font-size: large;">Land</button>
      <button onclick="takeoff();" style="font-size: large;">Takeoff</button>
      <button onclick="offboard();" style="font-size: large;">Offboard</button>
        <button onclick="arm();" style="font-size: large;">ARM</button>
    <div id="info">
        <iframe src="http://openuav.us:8080/stream_viewer?topic=/uav_camera/image_raw_front" width="600" height="600"></iframe>
        <iframe src="http://openuav.us:8080/stream_viewer?topic=/uav_camera/image_raw_down" width="600" height="600"></iframe>
        <br/>
        <iframe src="http://openuav.us:8081" width="1080" height="900"></iframe>


    </div>

</div>
</body>
</html>