<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenUAV Web</title>
    <!--<link rel="stylesheet" href="/static/scripts/paperjs/examples/css/style.css"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<script type="text/javascript" type="text/javascript">
  // Connecting to ROS
  // -----------------

  var ros = new ROSLIB.Ros({
    url : 'ws://localhost:9090'
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });

  // Subscribing to a Topic
  // ----------------------

  var listener = new ROSLIB.Topic({
    ros : ros,
    name : '/listener',
    messageType : 'sensor_msgs/Range'
  });

  listener.subscribe(function(message) {
    console.log('Received message on ' + listener.name + ': ' + message.data);
    listener.unsubscribe();
  });

</script>
    <script>
            function land() {
                $.get('land', function (data) {
                });
            }
            function takeoff() {
                $.get('takeoff', function (data) {
                });
            }
            function offboard() {
                $.get('offboard', function (data) {
                });
            }
            function mission() {
                $.get('mission', function (data) {
                });
            }
            function arm() {
                $.get('arm', function (data) {
                });
            }

            function disarm() {
                $.get('disarm', function (data) {
                });
            }
            function rtl() {
                $.get('rtl', function (data) {
                });
            }
        </script>




</head>
<body onload="$('html, body').animate({scrollTop: 0},'slow')">
<div id="main>">
<button onclick="land();" style="font-size: large;">Land</button>
      <button onclick="takeoff();" style="font-size: large;">Takeoff</button>
    <button onclick="rtl();" style="font-size: large;">ReturnToHome</button>

    <button onclick="offboard();" style="font-size: large;">Offboard Position Control</button>
       <button onclick="mission();" style="font-size: large;">WaypointMission</button>

        <button onclick="arm();" style="font-size: large;">ARM</button>
    <button onclick="disarm();" style="font-size: large;">DISARM</button>
    <div id="info">
        <iframe src="http://openuav.us:8080/stream_viewer?topic=/uav_camera/image_raw_front&quality=50" width="600" height="600"></iframe>
        <iframe src="http://openuav.us:8080/stream_viewer?topic=/uav_camera/image_raw_down&quality=50" width="600" height="600"></iframe>
        <br/>
        <iframe src="http://openuav.us:8081" width="1080" height="900"></iframe>


    </div>

</div>
</body>
</html>